fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv

langgraph
langchain
langchain-core

langchain-google-genai
google-generativeai

langchain-groq

sqlalchemy
asyncpg
alembic

tavily-python

httpx
python-multipart
email-validator

loguru

pytest
pytest-asyncio
black
ruff